{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        markdown-clj {:mvn/version "1.0.2"}
        org.clojure/data.xml {:mvn/version "0.0.8"}}
 :aliases {:build {:main-opts ["-m" "core"]}
           :nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}
           :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.15.1"}}}}}
