html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background-color: #2C323A;
}

.off-white {
  color: #E0E7ED;
}

a {
  color: #E0E7ED;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
    "header"
    "social"
    "main";
  grid-template-rows: 1fr 1fr 1fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

social {
  grid-area: social;
}

@media(max-width: 768px) {
  pre {
    overflow: auto;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #2b303b
  }
}

pre {
  background-color: #2b303b;
  padding-left: 2rem;
  padding-right: 2rem;
}

pre code {
  font-size: 1rem;
}

code {
  background-color: #2b303b;
  color: #c0c5ce;
  font-size: 1rem;
}
